<div class="container">
       <div class="row mt-3">
           <div class="col-md-6">
               A single form goes here for prices of goods 
           </div>

           <div class="Col-md-6">
               A Single form goes for other set of prices
           </div>
       </div>

       <hr>

       <div class="row mt-1">
           <div class="col-md-6">
               Company Name:  <br>
               Company Address #1:   <br>
               Company Address #2:   <br>
               Number:  <br>


           </div>
       </div>
    </div>