<div class="container-fluid ml-2" style="overflow: auto;
height: 100vh;">
  <div class="row">
    <div class="col-md-4">
      <strong>
        Stock Management
      </strong>
      <p class="card-text"><small class="text-muted">If product is missing, please add from add products page</small></p>

    </div>
  </div>
  <br>

  <div class="row">
    <ng-container *ngFor="let i of items">
      <div class="col-md-3">

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/sample/dog.jpg" alt="Avatar" style="width:200px;height:200px;">
            </div>
            <div class="flip-card-back">
              <h4>{{i.productName}}</h4>
              <p>
                MRP: {{i.maximumPrice}}
              </p>
              <div class="alert alert-danger" role="alert" *ngIf="i.availableStock < 2">
                Low Stock !!. Please Purchase
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <br>


  <div class="row">
    <div class="cold-md-4">
        <button type="button" class="btn btn-outline-success">Save</button>
    </div>

    <div class="cold-md-4">
        <button type="button" class="btn btn-outline-warning">Cancel</button>
      </div>

  </div>

 


</div>
