<div class="page mt-4">
  <div class="container">
    <div class="left">
      <div class="login">Sai Traders</div>
      <div class="smallTextLogin">rams billing System <span class="text-muted"> <br>&copy; all rights reserved v2020.0.1</span>  </div>
    </div>
    <div class="right">
      <svg viewBox="0 0 320 300">
        <defs>
          <linearGradient
                          inkscape:collect="always"
                          id="linearGradient"
                          x1="13"
                          y1="193.49992"
                          x2="307"
                          y2="193.49992"
                          gradientUnits="userSpaceOnUse">
            <stop
                  style="stop-color:#e17d0f;"
                  offset="0"
                  id="stop876" />
            <stop
                  style="stop-color:#e17d0f;"
                  offset="1"
                  id="stop878" />
          </linearGradient>
        </defs>
        <path d="m 40,120.00016 239.99984,-3.2e-4 c 0,0 24.99263,0.79932 25.00016,35.00016 0.008,34.20084 -25.00016,35 -25.00016,35 h -239.99984 c 0,-0.0205 -25,4.01348 -25,38.5 0,34.48652 25,38.5 25,38.5 h 215 c 0,0 20,-0.99604 20,-25 0,-24.00396 -20,-25 -20,-25 h -190 c 0,0 -20,1.71033 -20,25 0,24.00396 20,25 20,25 h 168.57143" />
      </svg>
      <div class="form" >
       
         
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">username</label>
        <input type="email" id="email" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
       
        <label for="password">password</label>
        <input type="password" id="password" formControlName="password"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >

        <input type="submit" id="submit" value="Submit"  (click) ="checkLogin()" >

        <marquee>

          <ng-container *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <span *ngIf="f.username.errors.required">Username is required</span>
          </ng-container>
          <ng-container *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <span *ngIf="f.password.errors.required">Password is required</span>
          </ng-container>
        
          <ng-container class="form-group">
              <p *ngIf="flagsCheck">{{message}}</p>
           </ng-container>
        </marquee>

        </form>

        
      </div>
    </div>
  </div>
</div>