<mat-drawer-container class="example-container" style="height:100vh">
    <mat-drawer mode="side" opened style="width: 13%;    margin-top: 3%;">
        
        
           <div class="headerPart">

             <img src="../../assets/store.jpg"  style="    height: 32px;
             width: 55px;
             margin-left: 17%;">
             <div>
                 Sai Oil Traders
             </div>
           </div>
    
    
    
    </mat-drawer>
    <mat-drawer-content>Main content</mat-drawer-content>
  </mat-drawer-container>